<div class="row">
	<div class="span2">
		<img src="/assets/christine.png" width="144" height="144" class="img-circle"/>
	</div>

	<div class="span5">
		<h1> Christine Lee </h1>
		<p class="lead">
			<i class="icon-gift"></i> 
			I am a cool bean and I like Iced Capps
		</p>
	</div>

</div>

<div class="row">
	<div class="span8">
		<h4>
			Give a coffee to Christine:
		</h4>

		<%= form_for Gift.new do |f| %>
			<%= f.text_field :from %>
			<%= f.text_field :message %>
			<%= f.submit "Give Coffee" %>
		<% end %>
	</div>
</div>